<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
  <ng-container *ngIf="(currentUser$ | async) as currentUser">
    <a *ngIf="currentUser" class="nav-link d-flex align-items-center gap-2 p-0" tabindex="0" ngbDropdownToggle role="button">
      <span class="avatar-circle">
        {{ currentUser.firstName.charAt(0) }}{{ currentUser.lastName.charAt(0) }}
      </span>
      <span class="d-none d-md-inline">{{ currentUser.fullName }}</span>
      <i class="bi bi-chevron-down small"></i>
    </a>
  </ng-container>
  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end mt-2 shadow">
    <span class="dropdown-item-text text-muted small px-3 py-1">Account</span>
    <div class="dropdown-divider"></div>
    <a ngbDropdownItem (click)="logout()" class="text-danger">
      <i class="bi bi-box-arrow-right me-2"></i>Logout
    </a>
  </div>
</li>
